<h1>Bonjour <%= @employee.full_name %></h1>

<p>
  Vous venez d'être inscrit sur Alan veuillez cliquer sur le lien suivant pour compléter votre dossier ALAN.

  <%= link_to "Completer votre dossier ALAN", complete_profile_user_employee_path(@user, @employee) %>

</p>
