<div class="row border-bottom">
<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">

  <%= form_tag({controller: "search", action: "result"}, method: "get", class: "navbar-form-custom") do %>

  <div class="form-group">
      <input type="text" placeholder="Recherche..." class="form-control" name="query" id="query">
  </div>

  <% end %>

</div>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <span class="m-r-sm text-muted welcome-message">Bienvenue sur Alan Assurance.</span>
        </li>


        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="mailbox.html">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Vous avez un nouveau message de l'équipe ALAN
                            <span class="pull-right text-muted small">Il y a 2 jours</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="profile.html">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> Alain dupont a rempli son dossier. Il est assuré
                            <span class="pull-right text-muted small">Il y a 12 jours</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="grid_options.html">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Paiement assurance ALAN effectué le 12/03/2016
                            <span class="pull-right text-muted small">Il y a 20 jours</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a href="#">
                            <strong>Voir toutes les alertes</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>


        <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-sign-out"></i> Déconnexion
            <% end %>
        </li>

    </ul>

</nav>
</div>
