<section class="back-image-landing back-green full-height margin-top-20">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 padding-20 background-opacity margin-top-100 text-white ">
        <h1 class=" text-center"><%= @employee.full_name %></h1>
        <div class="margin-top-20">
          <h1 class="text-center text-uppercase">VOUS ÊTES Désormais inscrit SUR ALAN</h1>
          <div class="text-center">
            Votre dossier est désormais complet
          </div>
        </div>
        <div class="text-center margin-top-20" >
          <i class="fa fa-check fa-2x"></i>
        </div>

      </div>
    </div>
  </div>
</section>
