<div class="ibox-content p-xl margin-top-10 ">
  <div class="row">
    <div class="col-sm-6">
      <h5>De:</h5>
      <address>
        <strong>Alan SAS</strong><br>
        10 rue d'Enghien<br>
        Paris 75010<br>
        <abbr title="Telephone">P:</abbr>
        0677273409
      </address>
    </div>

    <div class="col-sm-6 text-right">
      <h4>Invoice No.</h4>
      <h4 class="text-navy">INV-000567F7-00</h4>
      <span>A:</span>
      <address>
        <strong>BlaBlaCar SAS.</strong><br>
        8 rue de bourgogne<br>
        75007 Paris<br>
        <abbr title="Phone">P:</abbr>
        0143256129
      </address>
      <p>
        <span>
          <strong>Date :
          </strong>
          18 mars 2016</span><br/>
        <span>
          <strong>Date de prélevement</strong>
          24 mars 2016</span>
      </p>
    </div>
  </div>

  <div class="table-responsive m-t">
    <table class="table invoice-table">
      <thead>
        <tr>
          <th>Assurance</th>
          <th>Nombre d'employé</th>
          <th>Prix unitaire</th>
          <th>TVA</th>
          <th>Prix total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <strong>Plan A</strong>
            </div>
            <small>Taux de remboursement de 65%.</small>
          </td>
          <td>15</td>
          <td>€10.00</td>
          <td>€2</td>
          <td>€180</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- /table-responsive -->

  <table class="table invoice-total">
    <tbody>
      <tr>
        <td>
          <strong>Sous Total :</strong>
        </td>
        <td>€ 1000.00</td>
      </tr>
      <tr>
        <td>
          <strong>TVA (20%) :</strong>
        </td>
        <td>€ 200.00</td>
      </tr>
      <tr>
        <td>
          <strong>TOTAL :</strong>
        </td>
        <td>€ 1200.00</td>
      </tr>
    </tbody>
  </table>

</div>
